@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600;700&display=swap');
display: flex; /*do not DELETE this line BREAKS CODE*/


* {
    box-sizing: border-box;
    font-family: 'Poppins';
}

html {
    scroll-behavior: smooth;
  }

body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
    background-color: rgb(226, 226, 226);
}


/*---------NAV BAR---------*/

a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.preNavBanner{
    width: 100vw;
    height: 30px;
    background-color:rgb(185, 57, 11);
    padding-top: 5px;
    padding-bottom: 1px;
    
}

.preNavBanner div {
    padding: 5px;
    margin-left: 6.5%;
    
}

nav{
    width: 100vw;
    height: 75px; /*change to 55*/
   
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #092a46;
    color: white;
    
    position: fixed;
    z-index: 4;

}


.nav1{
    
    height: 75px;
    flex: 1;
    display: flex; 
    align-items : center;
    
}

.logo{
    font-size: 30px; /*change to 22*/
    
    background: -webkit-linear-gradient(rgb(242, 243, 250), rgb(46, 118, 201));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 7.5%;
    font-family: 'Mulish', sans-serif;

    letter-spacing: 1px;
 
}


nav ul{
    border : solid 0px black;
    margin : 0px 20px;
    padding : 0px;
    list-style : none;
    display : flex;
    justify-content: space-around;
    align-items: top;
    text-align: center;
  }


  
nav ul li{
    /*border  : solid 1px black;*/
    min-height : 20px;
    min-width : 20px;
    margin: 0px 7px;
    font-size: 18px; /*change to 16*/
  }

li:hover{
    text-decoration: underline blanchedalmond;
    text-underline-offset: 6px !important;
}

.active{
    
    text-decoration: underline blanchedalmond;
    text-underline-offset: 6px !important;
    text-decoration-thickness: 2px;
}  


.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 2px 16px;
    z-index: 5;
    height: 200px;
    
    
  }
.side{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 2px 16px;
    
    height: 40px;
    left: 170px;
    top:52px
}

.side2{
    top:100px;
}

#dropside-element, #dropside-element2{
  font-size:16px ; 
  position:relative ; 
  top:-7px;
 
}
#dropside:hover .side{
    display: block;
}

.dropdown-content a{
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
  }



.dropdown-content p:hover{
    background-color: rgba(0, 0, 0, 0.178);
    
}

.nav1 img{
    width: 65px;
}

/*--------JUMBOTRON--------*/

.jumbotron{
    width: 100vw;
    height: 650px;
    border-bottom: 1px solid black;
    padding-top: 110px;
    overflow: hidden;
    
}

.image-container{
    display: flex;
    transition: transform 1s ease-in-out;
    transform: translateX(0);
}
.jumbotron .image-container img{
    position: relative;
    top: -260px;
    object-fit: cover;
    /* remove image conitainter maybe*/
    height: 100%;
    width: 100%;
    
}

#overlay{
    height: inherit;
    width: inherit;
    background-color: rgba(0,0,0,0.4);
    margin-top: 110px;
    

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

h1{
    position: relative;
    top: -40px;
    font-size: 60px;
    text-shadow: 2px 2px 2px black;
    text-align: center;
}

#overlay p{
    position: relative;
    top: -50px;
    font-size: 22px;
    text-shadow: 2px 2px 2px black;
    text-align: center; 
}

#btn{
    background-color: rgba(185, 57, 11, 0.596);
    border: 2.5px solid white;
    border-radius: 5px;
    color: rgb(245, 245, 245);
    font-size: 1.2rem;
    padding: .4rem 1.2rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    cursor: pointer;
    font-family: 'Poppins';
    position: relative;
    top: -50px;
}

button:focus{
    outline: none;
}

button:hover{
    background-color: rgb(185, 57, 11) !important;
    transform: translate(2px, 2px);  
}

button:active{
    transform: translate(3px, 3px); 
}

/*-------------HR DIVIDER ---------*/

hr.cloud {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.644);
   
}
hr.cloud:after {  /* Not really supposed to work, but does */
    content: "\00a0";  /* Prevent margin collapse */
}

/*---------COURSES---------*/
.courses{
    width: 100vw;
}



.course {
    
    opacity: 0;
    transform: translate(0, 17vh);
    transition: all 1s;
}

.course #text, .course #pic{
    background-color: rgb(214, 214, 214);
}

.course.visible {
    opacity: 1;
    transform: translate(0, 0);
  }

.courses div{
    display: flex !important;
   /* align-items: center;*/
   /* justify-content: center;*/
    min-height: 40vh;
  /*  border: 1px solid red;*/
    max-width: 100vw;
    flex-wrap: wrap;
}

.reverse {
    flex-direction: row-reverse;
}

.courses div section{
  /*  padding: 50px 0px 50px 0px;
    margin: 0px 0px 0px 100px;*/
   /* border: 1px solid blue;*/
    border-radius: 10px;
    
}


.courses div #text{
    flex:1;
    min-width: 325px !important;
    padding: 20px; 
    padding-right: 40px;
    text-align: justify;
    box-shadow: -10px 0px 10px 1px #0925705b;  
}

.courses .reverse #text{
    padding-left: 40px;
    padding-right: 100px;
    box-shadow: 10px 0px 10px 1px #0925705b;
    text-align: justify;
}

.courses div #pic{
    flex: 1;
   /* border: 2px solid green;*/
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 325px !important;
    margin-right:40px;
    box-shadow: 10px 0px -10px 1px #aaaaaa; 
    overflow: hidden;
  /*  border-radius: 20px;*/
}

.courses .reverse #pic{
    margin-left: 40px;
    margin-right: 0px;
}

#filler{
    flex: .5;
}


.courses div #pic img{
  /* border: 4px solid pink;*/
  /*  border-radius: 50%;*/
    height: 24.5vw;
    width: 24.5vw;
    object-fit: cover;
    min-width: 325px !important;
    min-height: 325px;
    box-shadow: 1px 20px 80px 2px rgba(8, 112, 184, 0.7) ;
}

.courses div #pic img:hover{
    opacity: .7;
}


.title{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}


.title h2{
    color:rgb(20, 51, 92);
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
    font-size: 50px;
    font-weight: 500;
    border-bottom: 1.5px solid rgb(20, 27, 92);
    line-height: 1.3;
    margin-top: -80px !important;
    text-align: center;
}

#text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#text p{
    font-size: 20px;
    color: rgb(73, 73, 73);
    
}

#text #btn2{
    background-color: rgba(11, 72, 185, 0.596);
    border: 2.5px solid white;
    color: rgb(245, 245, 245);
}

#math, #robotics, #coding, #design{
    padding-top: 100px;
    margin-top: -100px;
    
}

/*--------- CONTACT BANNER -------*/

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 450px;
    width: 100vw;
    border: 1px solid purple;
    margin-top: 30px;
    text-align: center;
    flex-direction: column;
    overflow: hidden;
}

.overlay2{
    height: inherit;
    width: inherit;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    z-index: 5px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;

}
#btn2{
    background-color: rgba(185, 57, 11, 0.596);
    border: 2.5px solid white;
    border-radius: 5px;
    color: rgb(245, 245, 245);
    font-size: 1.2rem;
    padding: .4rem 1.2rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    cursor: pointer;
    font-family: 'Poppins';
    position: relative;
    
}
 
#bannertext{
    font-size: 45px;
    color: white;
    font-weight: normal;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    position: relative;
    top: 1px;
    font-weight:300  ;
}

#bannertext span{
    color:#c28222;
    font-size: 55px;
    font-weight: 500;
    
    text-shadow: -1px 2px 0px black ;
}

.banner div img{
    object-fit: cover;
    width: 100%;
}

/* END BANNER*/

.endbanner{
    background-color:#092a46 ;
    color: white;
    width: 100vw;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.endbanner div{
    width: 25vw;
    
    text-align: center;
}

.contribution{
    width: 100vw;
    height: 50px;
    text-align: center;
    background-color: rgb(184, 18, 18);
    color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    text-shadow: 1px 1px 0 black;
}


/* ---- ABOUT PAGES ---*/

.about{
    width: 100vw;
    min-height: 80vh;
   /* border: 1px solid red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aboutustitle{
    margin-top: 110px;
}

.aboutustitle h2{
    font-size: 50px;
    margin-bottom: 0px;
    color: #092a46;
    border-bottom: 3px solid rgb(185, 57, 11);
}

.about .person{
    height: 40vh;
    width: 100vw;
   /* border: 1px solid green;*/
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 5px;
    background-color: blue!;
}

.person section{
}

#profilepic{
    flex-shrink: 1;
    padding-left: 15vw;
    max-height: 25vh;
    min-height: 20vh;
    position: relative;
    
}

#profilepic img{
    border-radius: 50%;
    border: 1px solid rgb(53, 22, 27);
    width: 15vw;
    position: absolute;
    left: 15vw;
    top: -2vw;
    object-fit: fill;
}

.abouttext{
    flex-grow: 3;
    padding: 5px 25vw 5px 75px;
    position: relative;
    left: 15vw;
    width: 10px;
    
    
}

.abouttext section{
  
    background-color: rgb(219, 219, 219);
    
}


#name{
    font-size: 40px;
    font-weight: 500;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 17px -20px 5px -15px rgba(0,0,0,0.75);
}

#position{
    font-style: italic;
    font-size: 18px;
}

#education{
    font-weight: 600;
}

#text-person{
    min-height: 200px;
}

/* ----- Webpages ---- */
.projects{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: ;
}

.projects h2{
    font-size: 30px;
    margin-bottom: 0;
}

.project-divider{
    width: 75vw;
    text-align: center;
    margin: 0;
}

.project-divider p{
    font-style: italic;
}

.project{
  width: 75vw; 
  height: 100vh;
  /*border: 1px solid green;*/
  box-shadow: 2px 2px 5px black;
  overflow-y: hidden;
}

#project1 embed{
    background: white;
}

.project h2{
    text-align: center;
    
    
}

.project p{
    text-align: center;
}

.project embed{
    height: 100%;
    width: 100%;
    
}



#project2{
    height: 60vh;
    
}

.calc-box{
  display: flex;
  flex-wrap: wrap; 
  height: 100%; 
  overflow-y: scroll;
  align-items: center;
  justify-content: center;
}

.calc-box embed{
    flex: 1;
}

#Lcalc{
    position: relative;
    top: -80px;
}

#Hcalc{
    position: relative;
    top: -180px;
    
}

.codefiller{
   width: 26%; height: 10vh; 
}